@model IEnumerable<AspNetStore.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h3>Browse Categories</h3>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item">@Html.ActionLink(category.Name, "Browse", new { id = category.Name })</li>
    }
</ul>